[submodule "jsitter/src/main/cpp/tree-sitter"]
	path = jsitter/src/main/cpp/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "jsitter/src/main/cpp/grammars/tree-sitter-lua"]
	path = jsitter/src/main/cpp/grammars/tree-sitter-lua
	url = https://github.com/MunifTanjim/tree-sitter-lua
